body {
  margin: 0 auto;
  padding: 0;
  background-color: #3AAFA9;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.clickable {
  cursor: pointer;
}
a:link {
  color: #def2f1;
}
a:visited {
  color: #2b7a78;
}
a:hover {
  color: #feffff;
}
a:active {
  color: #17252a;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #17252A;
  text-shadow: 1px 1px 1px #def2f1;
  padding: 0px;
  margin: 0 auto;
}

h2 {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #17252a;
  padding: 0px;
  margin: 0 auto;
}
h3 {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #17252a;
  padding: 0px;
  margin: 0 auto;
}
h4 {
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  color: #2b7a78;
  padding: 0px;
  margin: 0 auto;
}
h5 {
  margin: 0 auto;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h5:hover {
  color: black;
}

.main-container {
  display: flex;
  margin: 0 auto;
  width: 288px;
  background-color: #def2f1;
}

.calculator {
  display: flex;
  margin: 0 auto;
  padding: 0px;
  flex-direction: column;
  align-items: flex-end;
}

.display-textbox {
  margin: 0 auto;
  border: 0px solid black;
  /* width: 288px; */
  /* height: 60px; */
  text-align: right;
  background-color: #def2f1;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
}

.clear-memory {
  display: flex;
  margin: 0 auto;
}

.calculator-buttons {
  display: flex;
  margin: 0 auto;
  padding: 0px;
}

.input-buttons {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0px;
}

.button-row-789 {
  display: flex;
  align-items: flex-end;
}
.button-row-456 {
  display: flex;
  align-items: flex-end;
}
.button-row-123 {
  display: flex;
  align-items: flex-end;
}
.button-row-zerodecimaltotal {
  display: flex;
  align-items: flex-end;
}

.number-btn {
  margin: 0 auto;
  width: 72px;
  height: 72px;
}

.operator-buttons {
  display: flex;
  flex-direction: column;
}

.operator-btn {
  width: 72px;
  height: 72px;
}

.memory-btn {
  width: 72px;
  height: 42px;
}

.clear-btn {
  width: 36px;
  height: 42px;
}

footer {
  text-align: center;
  border-top: 1px solid #17252a;
  padding-top: 8px;
  width: 100%;
}