body {
  margin: 0 auto;
  padding: 0;
  background-color: #3AAFA9;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #17252A;
  text-shadow: 2px 2px 2px #def2f1;
  padding: 0px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  margin: 0 auto;
}

.calculator {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.display-textbox {
  text-align: right;
  padding-right: 2px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 28px;
}